<div class="container">
    <h1 class="head">Login</h1>
    <div class="buttons-container">
        <a href="/login"  id="login-btn">Login</a>
        <a href="/register"  id="signup-btn">Signup</a>
    </div>
    <form action="/signin" method="post">
       
        <input type="email" placeholder="Email Address" name="email" id="email" required>
     
        <input type="password" placeholder="Password" name="password" id="password" required>
        <input type="submit">
    </form>
    <div>
        Don't have an account? <a href="/register">Create Account</a>
    </div>
</div>