<div class="container">
    <h1 class="head">Signup</h1>
    <div class="buttons-container">
        <a href="/login" id="login-btn">Login</a>
        <a href="/register" id="signup-btn">Signup</a>
    </div>
    <form action="/signup" method="post">
       
        <input type="text" placeholder="Name" name="username" id="username" required>
       
        <input type="email" placeholder="Email Address" name="email" id="email" required>
     
        <input type="password" placeholder="Password" name="password" id="password" required>
        <input type="submit">
    </form>
    <div>
        Already have an account? <a href="/login">Login</a>
    </div>
</div>